body{
    font-family: 'Abyssinica SIL', serif;
    margin: 0;
}

    h1{
        font-size: 50px;
    }

    .name{
        color: orangered;
    }
    .Hero-section{
        display: flex;
        background-image: url(images/top-banner.png);
        background-repeat: no-repeat;
        margin-bottom: 150px;
    }

    .half-section{
        width: 50%;
        padding-left: 2%;
        padding-right: 5%;
    }

    .half-section img{
        width: 80%;
    }

    .half-section a{
        text-decoration: none;
        background-image: linear-gradient(orange,rgb(255, 60, 0));
        padding: 10px 25px;
        color: aliceblue;
        border-radius: 5px;
    }
    .dream-section{
        display: flex ;
        background-image: url(images/dream-bg.png);
        background-repeat: no-repeat;
        background-position: right;
    }
    .experice-section{
        display: flex ;
        background-image: url(images/exp-bg.png);
        background-repeat:no-repeat;
        margin-bottom: 50px;
        
    }
    #baby{
        border-left: 7px solid;
        border-image: linear-gradient(#f6b73c, salmon) 30;
        border-image-slice: 1;
    }
    .experince{
        box-shadow: 10px 10px 20px 10px gray;
        width: 40%;
        padding-left: 2%;
        padding-right: 5%;
        margin-left: 5%;
        margin-right: 5%;
        border-radius: 10px;
        

    }
    .experince h2{
        font-size: 30px;
    }
    /* .experince-1{
        box-shadow: 10px 10px 20px 10px gray;
        width: 40%;
        padding-left: 2%;
        padding-right: 5%;
        margin-left: 5%;
        margin-right: 5%;
        border-radius: 10px;
    } */
    #fullstack{
        border-left: 7px solid;
        border-image: linear-gradient(blue, cyan ) 30;
        border-image-slice: 1;
        
    }
    footer{
        text-align: center;
    }
   