body{
    font-family: 'Abyssinica SIL', serif;
    margin: 0;
}

    h1{
        font-size: 50px;
    }

    .name{
        color: orangered;
    }
    .Hero-section{
        display: flex;
        background-image: url(images/top-banner.png);
        background-repeat: no-repeat;
        margin-bottom: 150px;
    }

    .half-section{
        width: 50%;
        padding-left: 2%;
        padding-right: 5%;
    }

    .half-section img{
        width: 80%;
    }

    .half-section a{
        text-decoration: none;
        background-image: linear-gradient(orange,rgb(255, 60, 0));
        padding: 10px 25px;
        color: aliceblue;
        border-radius: 5px;
    }
    .dream-section{
        display: flex ;
        background-image: url(images/dream-bg.png);
        background-repeat: no-repeat;
        background-position: right;
    }